.11_17 { 
	overflow:hidden;
}.e11_17 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e11_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.11_18 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e11_19 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e11_27 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:270px;
	top:262px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e17_3 { 
	color:rgba(0, 0, 0, 1);
	width:699px;
	height:199px;
	position:absolute;
	left:56px;
	top:286px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e17_5 { 
	color:rgba(36.00000165402889, 128.0000075697899, 169.00000512599945, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:362px;
	top:224px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}