.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e2_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.2_3 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_4 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_16 { 
	color:rgba(0, 0, 0, 1);
	width:665px;
	height:75px;
	position:absolute;
	left:90px;
	top:269px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e2_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}