.23_33 { 
	overflow:hidden;
}.e23_33 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e23_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.23_34 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_35 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_38 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_41 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e23_43 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:270px;
	top:262px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e23_44 { 
	color:rgba(36.00000165402889, 128.0000075697899, 169.00000512599945, 1);
	width:208px;
	height:18px;
	position:absolute;
	left:11px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e23_54 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:157px;
	height:274px;
	position:absolute;
	left:223px;
	top:291px;
}.23_54 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_60 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:13px;
	position:absolute;
	left:240px;
	top:418px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_62 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:13px;
	position:absolute;
	left:249px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_59 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:13px;
	position:absolute;
	left:245px;
	top:372px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_56 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:18px;
	position:absolute;
	left:273px;
	top:298px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e23_55 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:157px;
	height:267px;
	position:absolute;
	left:451px;
	top:291px;
}.23_55 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_70 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:13px;
	position:absolute;
	left:476px;
	top:510px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_67 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:13px;
	position:absolute;
	left:476px;
	top:372px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_68 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:13px;
	position:absolute;
	left:469px;
	top:418px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_63 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:18px;
	position:absolute;
	left:501px;
	top:298px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e23_69 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:13px;
	position:absolute;
	left:476px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_57 { 
	transform: rotate(-0.367275614179089deg);
	width:156.00320434570312px;
	height:0px;
	position:absolute;
	left:224px;
	top:332px;
}.23_57 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_65 { 
	transform: rotate(-0.367275614179089deg);
	width:156.00320434570312px;
	height:0px;
	position:absolute;
	left:452px;
	top:333px;
}.23_65 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_58 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:13px;
	position:absolute;
	left:281px;
	top:317px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_64 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:13px;
	position:absolute;
	left:506px;
	top:317px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}