.11_38 { 
	overflow:hidden;
}.e11_38 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e11_39 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.11_39 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e11_40 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_41 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_47 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e11_48 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:270px;
	top:262px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e11_49 { 
	color:rgba(36.00000165402889, 128.0000075697899, 169.00000512599945, 1);
	width:177px;
	height:18px;
	position:absolute;
	left:11px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e11_51 { 
	color:rgba(0, 0, 0, 1);
	width:602px;
	height:15px;
	position:absolute;
	left:105px;
	top:283px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e11_53 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:318px;
	height:33px;
	position:absolute;
	left:247px;
	top:357px;
}.11_53 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e11_54 { 
	color:rgba(19.0000007674098, 163.00000548362732, 205.00000298023224, 1);
	width:199px;
	height:15px;
	position:absolute;
	left:306px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}