.2_19 { 
	overflow:hidden;
}.e2_19 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e2_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.2_20 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_21 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:301px;
	height:17px;
	position:absolute;
	left:255px;
	top:231px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e2_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:187px;
	height:32px;
	position:absolute;
	left:312px;
	top:420px;
}.2_37 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_44 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:187px;
	height:32px;
	position:absolute;
	left:312px;
	top:267px;
}.2_44 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:187px;
	height:32px;
	position:absolute;
	left:312px;
	top:471px;
}.2_43 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_41 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:187px;
	height:32px;
	position:absolute;
	left:312px;
	top:318px;
}.2_41 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:187px;
	height:32px;
	position:absolute;
	left:312px;
	top:369px;
}.2_42 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e2_32 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:17px;
	position:absolute;
	left:356px;
	top:274px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e2_33 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:17px;
	position:absolute;
	left:322px;
	top:427px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e2_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e2_34 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:17px;
	position:absolute;
	left:330px;
	top:376px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e2_35 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:17px;
	position:absolute;
	left:322px;
	top:478px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e2_36 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:17px;
	position:absolute;
	left:337px;
	top:325px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}