.23_4 { 
	overflow:hidden;
}.e23_4 { 
	background-color:rgba(231.80209279060364, 250.0230422616005, 252.87500202655792, 1);
	width:811px;
	height:581px;
	position:absolute;
}.e23_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:48px;
	position:absolute;
	left:11px;
	top:155px;
}.23_5 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_6 { 
	width:239px;
	height:216px;
	position:absolute;
	left:286px;
	top:-37px;
	background-image:url(images/psico_tech_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:15px;
	position:absolute;
	left:47px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:15px;
	position:absolute;
	left:122px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:294px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:218px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:15px;
	position:absolute;
	left:402px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:15px;
	position:absolute;
	left:569px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e23_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:666px;
	top:172px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e23_14 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:270px;
	top:262px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e23_15 { 
	color:rgba(36.00000165402889, 128.0000075697899, 169.00000512599945, 1);
	width:232px;
	height:18px;
	position:absolute;
	left:11px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e23_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:271px;
	position:absolute;
	left:222px;
	top:291px;
}.23_21 { 
	border:1px solid rgba(82.00000271201134, 197.0000034570694, 215.0000023841858, 1);
}.e23_28 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:13px;
	position:absolute;
	left:251px;
	top:490px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_26 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:13px;
	position:absolute;
	left:251px;
	top:356px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e23_27 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:13px;
	position:absolute;
	left:251px;
	top:409px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.23_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e23_22 { 
	width:302px;
	height:0px;
	position:absolute;
	left:251px;
	top:369px;
}.23_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e23_23 { 
	width:302px;
	height:0px;
	position:absolute;
	left:251px;
	top:422px;
}.23_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e23_24 { 
	width:302px;
	height:0px;
	position:absolute;
	left:251px;
	top:503px;
}.e23_31 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(36.00000165402889, 128.0000075697899, 169.00000512599945, 1);
	width:44px;
	height:15px;
	position:absolute;
	left:386px;
	top:527px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}